html, body {
width: 100%;
padding: 0px;
overflow-x: hidden;
}

.container {
min-width: 100%; }


/********* Navbar ***************/

.navbar-toggle{
background-color: #ccc;

}

.navbar-inverse .navbar-toggle{
border-color:#ccc;
}
.navbar {
background-color:rgb(255, 255, 255);
border: 0px;
font-weight: normal;
text-transform: uppercase;
color:#777;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

}

.navbar-inverse .navbar-nav>li>a:hover{
color:#27cdea;
}


.navbar-brand {
text-transform: uppercase;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 17px; }

.navbar-inverse .navbar-brand:hover{
color:#27cdea;
}

.navbar-inverse .navbar-nav>.active>a
{

background:transparent;
color:rgba(51, 51, 51, 0.81);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse
.navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
color:rgba(51, 51, 51, 0.81);
background-color: transparent;
}

/*********** Home section ************/

#home {
background: url(images/bench.jpg) no-repeat center center fixed;
background-size: cover;
height: 800px;
position: relative;
text-align: center;

}


#home .cover  {
background-color:rgba(14, 25, 35, 0.62);
opacity: 0.9;
}


#home .cover{
position: absolute;
top: 0;
left: 0;
width:100%;
height:100%;
}

#home .btn-default{
background: rgb(44, 163, 193);
color:#fff;
border-radius: 0 !important;
width: 145px;
margin-top: 8%;
text-transform: uppercase;
font-weight: bold;
font-size: 16px;
padding:7px 0 7px 0;
border:2px solid #2ca3c1;
text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.30);
}

#home .btn-default:hover{
color: #2ca3c1;
background:transparent;
border:2px solid #fff;

}

.greeting h1{
font-size: 5em;
color: #fff;
margin-top: 35%;
padding: 20px;
}

.greeting p {
font-size: 4em;
line-height: 4px;
padding:8px 10px 5px 10px;
color: #27cdea;
}

.greeting p, .greeting h1{
text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.greeting{

display:inline-block;
text-align: center;
}


/*********** Portfolio section ************/

#portfolio {

min-height: 100%;
color: black;
padding: 50px 100px 0px 100px;

}

.padding{
padding-bottom: 20px;
}

.portfolio-pic {
width: 100%;
height: 100%;
display: inline-block;
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.grid{
  padding-top:50px;
}
.overlay {
position: relative;
overflow: hidden; }

.overlay .caption {
content: '\A';
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
text-align: center;
background: linear-gradient(rgba(51, 153, 170, 0.9), rgba(51, 153, 170, 0.8));
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.caption i {
font-size: 65px;
color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.overlay .caption img {
position: relative;

}

.overlay:hover .caption {
opacity: 1;
z-index: 9;
}

.overlay:hover img {
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.overlay img{
opacity: 1;
-webkit-transition:.4s;
-webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
}


.description{
padding-bottom: 40px;
text-transform: uppercase;
color: white;
position: absolute;
left: 50%;
top: 35%;
transform: translate(-50%, -35%);
}

.fa {
font-size: 5em;
margin-top: 0.5em;
text-align: center; }



/*********** About section ****************/


#about {
padding-top: 30px;
margin-bottom: 60px;
min-height: 100%;
color: black;
}

hr, .about-hr{
border: 5px solid #487395;
margin-bottom: 8%;
width: 30%;
}

.about-hr{

width: 24%;
}
.summary {
margin-bottom: 40px;
line-height: 26px;}

.center-block {
width:300px;
border-radius: 50%;
}
.cf {
position: relative;
width: 300px;
margin: 10px auto; }

.cf img:hover {
opacity: 0; }

#resume{
color: rgba(51, 122, 183, 0.94);
width: 250px;
margin:auto;
margin-top: 20px;

}

#resume:hover {
background-color: rgba(51, 122, 183, 0.94);
color: white;
-webkit-transition: all .3s;
transition: all .3s; }



/*********** Footer section ****************/



.footer {
background: #252525;
padding-bottom: 2em;
padding-top:2em;
text-align: center; }

.copyright {
text-align: center;
color: white;
font-size: 9px;
padding-top: 10px;
padding-bottom: 10px;
text-transform: uppercase;
background: #2f2f2f;
opacity: .95;}


footer p{
text-align: center;
color: #ccc;
font-size: 1.5em;
margin-bottom: 8px;
font-family:Arial;

}

i[class^="fa fa"]:before {
display: inline-block;
text-decoration: none; }


.socialmedia .fa {
font-size: 50px;
display: inline-block;
text-align: center;
margin: 0 5px 0 5px;
color:rgb(95, 212, 234);
opacity: .60; }

.socialmedia .fa:hover {
opacity: 1; }


/*********** h2, h4 styles ****************/


h2{
font-size: 40px;
padding-top: 30px;
color:#487395;
text-align: center;
}

h4{
margin-top: 20px;
font-size:1.6rem;
}


/********* Buttons *****************/


.btn-default {
color: rgba(51, 122, 183, 0.94); }

.btn-default:hover {
background-color: rgba(51, 122, 183, 0.94);
color: white;
-webkit-transition: all .3s; }


.btn-group {
padding-top: 15px;
padding-bottom: 80px; }


a:link {
text-decoration: none; }

/********* Indiviual portfolio pages ************/


.header {
text-align: center;
margin-top: 100px;
color:#487395; }


.portfolio-ex, img{
width: 100%;
height: auto;
margin: 0 0 10px 0;
display:block;
}



/********* Code block snippet ************/

.code{
background-color: #272626;
color:#fff;
margin: 2.5em 0 2.5em 0;
}

.value{
color:#CC99CC;
}

.string{
color:#d5d883;
}

.comments{
color:#a9a9a9;
}

.math{
color:#ffd479;
}

.method{
color:#a8d3c2;
}
.randomColor{
color:#a7c5e6;
}


/********* Media queries ************/


@media (min-width: 1200px){
.summary{
padding-left: 50px;
}
}
@media(max-width:991px){
#resume{
text-align: center;
display:block;
}
}

@media (max-width:667px){


.greeting{
text-align: center;
font-size: 10px;
margin:0 auto;
padding-top: 20px;

}

/*.greeting h1{
padding-top: 3.5em;
margin:0 auto;

}*/
}


@media (max-width: 576px){

#portfolio{
padding:10px;
}

.description{
padding-bottom:80px;
}

}

@media (max-width: 478px){
.portfolio-ex{
margin: 30px 0 30px 0;
}
#home{
  height: 680px;
}
}
